html {
background-color: rgb(19, 233, 197);
position: relative;
min-height: 100%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
}


#calculator {
    height: 700px;
    align-content: flex-end;
    justify-content: center;
    display: grid;
    padding: 10px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas:  
    "screenblank screen backspace clear"
    "one two three subtract"
    "four five six multiply"
    "seven eight nine divide"
    "decimal zero sum add"
    /* ". . . .";  */
}

button {
   width: 250px;
   background-color: rgb(226, 226, 226);
   border-radius: 1%;
   border-color: rgb(179, 179, 179);
   border-width: 1px;
}

button:hover {
    background-color: rgb(136, 136, 136);
}


/* Bit of a an issue styling the grid, but by adding the buttons step by step this got them to where I wanted them to be */
#screen {
    background-color: rgb(255, 255, 255);
    width: 250px;
    grid-area: screen;
    text-align: right;
    line-height: 150px;
}

/* Not designed to be functional, but for aesthetic of screen fitting into calculator shape */
#screenblank {
    background-color: white;
}

#plus {
    background-color: rgb(179, 179, 179);
    grid-area: add;
    font-family: inherit;
}

#zero {
    grid-area: zero;
    font-family: inherit;
}

#sum {
    background-color: rgb(179, 179, 179);
    grid-area: sum;
    font-family: inherit;
}

#decimal {
    background-color: rgb(179, 179, 179);
    grid-area: decimal;
    font-family: inherit;
}

#divide {
    background-color: rgb(179, 179, 179);
    grid-area: divide;
    font-family: inherit;
}

#multiply {
    background-color: rgb(179, 179, 179);
    grid-area: multiply;
    font-family: inherit;
}

#subtract {
    background-color: rgb(179, 179, 179);
    grid-area: subtract;
    font-family: inherit;
}

#clear {
    background-color: rgb(179, 179, 179);
    grid-area: clear;
    font-family: inherit;
}

#backspace {
    background-color: rgb(179, 179, 179);
    grid-area: backspace;
    font-family: inherit;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}